.primary-bg{
    background-color: #e5e5e5;
}

.secondary-bg{
    background-color: #466060;
    color: white;
}

.card-body .bi{
    font-size: 5rem;
    color:#000080
}

#resume-linkedin{
    background: #696d7d;
}